<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{name}}
    </ion-title>
    <ion-buttons right>
      <button ion-button (click)="openModalEdit()"><ion-icon name="create"></ion-icon></button>
      <button ion-button (click)="deleteArticleAlert()"><ion-icon name="trash"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
 <img src="{{thumbnail}}"/>
 <p>{{description}}</p>
 <hr>
<h3 *ngIf="tags.length > 0">Oznake:</h3>
<ion-chip *ngFor="let tag of tags">
  <ion-label>{{tag.name}}</ion-label>
</ion-chip>
<br><br>
<hr *ngIf="code">
<ion-item>
  <b>Šifra:</b> {{code}}
</ion-item>
<br><br>
<button (click)="writeNFC()" ion-button color="light" icon-left *ngIf="code">
  <ion-icon name="md-wifi"></ion-icon>
  Zapiši na NFC oznaku
</button>
</ion-content>